<!-- ===================================================================== -->
                            <!-- Footer file  -->
<!-- ===================================================================== -->


  <div class="container-fluid" style="background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)); height: 160px; margin-top: 0% !important; "></div>
  <div class="conatiner-fluid" style="background-color: rgba(0, 0, 0, 0.5); height: 370px;">
    <div class="row" style="color: white">
      <div class="col">
        <div style="margin-left: 25%; padding-top: 40px;">
          <h1 style="width: 50%;">See what's the buzz about
          </h1>
          <hr style="width: 15%; border-color: white; float: left">
          <p>
            <h4 class="text text-muted">
              <p style="margin-left: 0%; margin-top: 12%" >Social Media</p>
              <a href="#" onclick="window.open('https://www.instagram.com/acm_vit/', '_blank')" style="margin-left: 5%" data-toggle="tooltip" data-placement="top" title="Instagram Handle"><img src="/images/share-icons/instagram.png" style="height: 7%; width: 7%"></a>
              <a href="#" onclick="window.open('https://www.facebook.com/acmvitchapter/?hc_ref=ARQ2reAqo5XYo--nSYnOgn3p6z-7u3waZlEKUY5_fp2FKAnGmBPGCiHyg67KArKn8aM&__xts__[0]=68.ARDPw9sNWPUJeyhQONqCDrWaFDZPaph2AEXOyKxaNLNreL_BPL0qre2WvMhkA8ZvMNkMzG2If-vb2EKfNJqa4ipa7SoN1rH4RFuOagNCbTZTRaL3Cj7BlJvf9BDTGCYynjfZ2zg&__tn__=kC-R', '_blank')" style="margin-left: 1.5%" data-toggle="tooltip" data-placement="top" title="Facebook Handle"><img src="/images/share-icons/facebook.png" style="height: 8%; width: 8%"></a>
              <a href="#" style="margin-left: 0.8%" data-toggle="tooltip" data-placement="top" title="LinkedIn Handle"><img src="/images/share-icons/linkedin.png" style="height: 9%; width: 9%"></a>
            </h4>
          </p>
        </div>
      </div>
      <div class="col">
        <div>
            <div class="row">
              <a href="#"><img src="/images/logo/VIT.png" alt="" style="height: 50%; width: 40%; margin-left: 40%; margin-top: 7%"></a>
            </div>
            <div class="row" style="padding-bottom: 0; margin-bottom: 0; bottom: 0; height: 20%">
              <div class="arrow bounce" style="margin-right: 100%; margin-bottom: 5; margin-top: 12%">
                <a class="fa fa-arrow-up fa-3x btn btn-dark" href="#" data-toggle="tooltip" data-placement="top" title="Go up" style="background-color: rgba(0, 0, 0, 0); border-width: 0;"></a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js_scripts/header.js"></script>

</body>
</html>
