<!--
    Official Website of ACM Student Chapter of Vidyalankar Institute of Technology
    Copyright (C) 2018  VEDANT NANDOSKAR

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    Contact: vedant.nandoskar@gmail.com
    Source Code: https://github.com/Vedant1202/ACM-VIT
 -->


<!-- ===================================================================== -->
                            <!-- Header file  -->
<!-- ===================================================================== -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ACM-VIT Official Website</title>
    <link rel="shortcut icon" href="/images/logo/ACM_Logo-icon.ico">

    <!--============================ jQuery link ===========================-- >
    <!-- <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>

      <!--========================== Popper.js link ===========================-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>

      <!--========================== Bootstrap link ===========================-->
      <!-- Bootstrap link  -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>

      <!-- =========================Typed.js Link ===========================-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.9/typed.js"
      integrity="sha256-DNIgEve3UjKv9ffoLz8O+o6+EEDqbZ9G3hcmFrb/Icg="
      crossorigin="anonymous"></script>

    <!--========================== Particles.js link ========================-->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <!-- ============================== Image Hover Link =======================-->
    <link rel="stylesheet" href="../stylesheets/imagehover.css">

    <!-- ======================== Font Awesome Link ============================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
     integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
     crossorigin="anonymous" />

     <!-- =========================== AOS Links ================================-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.3/aos.css"
     integrity="sha256-GqiEX9BuR1rv5zPU5Vs2qS/NSHl1BJyBcjQYJ6ycwD4="
     crossorigin="anonymous"/>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.3/aos.js"
     integrity="sha256-XgofZbWZ3KPvXyYr10GN0mhZC08alGapd871TrGeujQ="
     crossorigin="anonymous"></script>

    <!-- =========================== Google Fonts Link ======================== -->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    
    <!-- =========================== Load D3 =================================== -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>


  </head>
  <body>

  <link rel="stylesheet" href="/stylesheets/header.css">

  <!-- //////////////////////////////////////////////// Particles JS Initialisation ////////////////////////////////////////////// -->
  <div id="particles-js-home" style="background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; z-index: -10;">
    <canvas class="particles-js-canvas-el" width="1898" height="187" style="width: 100%; height: 100%; z-index: -10;"></canvas>
  </div>
