<!-- ===================================================================== -->
                            <!-- About Us Page -->
<!-- ===================================================================== -->

  <!--************** Include Header Partials ***************-->
  <% include /app/views/partials/header.ejs %>

  <!-- /////////////////////////////////////////////// Navbar //////////////////////////////////////////////-->

  <nav class="nav navbar navbar-expand-lg navbar-dark sticky-top" style="margin-top: 0px; background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.03)); padding: 0 !important;">
    <a class="navbar-brand" href="/" style="margin-right: 0%; margin-left: 10%; width: 12%; margin-top: 0px !important; margin-bottom: 0px !important;">
      <img src="/images/logo/ACM_Logo-edit.png" class="border img-thumbnail" style="height: 30%; width:30%; margin-top: 0px !important; margin-bottom: 0px !important;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/" style=" margin-left: 16%;"><span style="font-size: 1.7em !important; background-color: rgba(0, 0, 0, 0)!important">Home</span></a>
      <a class="nav-item nav-link active" href="/aboutUs" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">About</span></a>
      <a class="nav-item nav-link team" href="/#team" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">Team</span></a>
      <a class="nav-item nav-link" href="/events" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">Events</span></a>
      <a class="nav-item nav-link" href="/blogs" style="margin-left: 12%;"><span style="font-size: 1.7em !important">Blog</span></a>
      <li class="nav-item dropdown" style="margin-left: 12%">
        <a class="nav-link dropdown-toggle" href="/contactUs" id="contactDropdown" data-toggle="dropdown" aria-expanded="false"><span style="font-size: 1.7em !important">Contact</span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/contactUs#query">Have a Query?</a>
          <a class="dropdown-item" href="/contactUs#locate">Locate us</a>
          <a class="dropdown-item" href="/contactUs#socialMedia">Social Media</a>
        </div>
      </li>
    </div>
    <a class="navbar-brand" href="#" onclick="window.open('https://www.acm.org/', '_blank')" style="float: right; margin-left: 12%">
      <img class="float-right" src="/images/logo/acm.png" style="height: 37%; width:37%;">
    </a>
    </div>
  </nav>

  <!--////////////////////////////////////////////// Navbar Ends ///////////////////////////////////////////-->

  <div id='particles-js-aboutUs'></div>  <!-- DANGER !!!! DO NOT TAMPER WITH THIS LINE-->

  <!-- ////////////////////////////About the Institute///////////////////////// -->
  <div class="jumbotron" id="partialAbout-1" style=" color: white; background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07)); margin-bottom: 3% !important; margin-top: 0.1%; padding-top: 2.5%; border-width: 20px !important; text-align: justify">
    <div class="container-fluid" style="width: 85%">
      <h4 class="display-4" data-aos="fade-up">About the Institute</h4>
      <hr style="width: 10%; border-color: rgba(255, 255, 255, 0.6); margin-left:0px;" data-aos="fade-up">
      <div class="col-12">
        <img src="/images/vit/vit-audi.png" alt="" class="rounded shadow-lg" style="width: 37%; height: 30%; float: right;" data-aos="fade-up">
        <p style="margin-left: 50%;">
          <img src="/images/vit/vit-audiIn.png" alt="" class="rounded shadow-lg" style="width: 74%; height: 65%; float: right; margin-top: 5%" data-aos="fade-up">
        </p>
      </div>
      <div class="col-7">
        <p style="margin-top: 20px; line-height: 28px; margin-bottom: 4%">
            <p style="width: 100%; line-height: 28px;">
              <span style="font-size: 20px !important" data-aos="fade-up">
                Vidyalankar Institute of Technology is an Engineering Degree and Management College, approved
                by AICTE and affiliated to the University of Mumbai. Incepted in 1999 and awarded an ‘A’ Grade by
                the Govt. of Maharashtra, the Institute generates quality technocrats with solid academic records
                and offers excellent placement opportunities. “Work is worship” is the guiding principle for everyone
                at Vidyalankar. Through our passion for work we incessantly seek progress and believe that
                individual and collective expertise blossom in an environment of symbiosis.
              </span>
            </p>
        <!-- <span style="width: 100%"><img src="/images/vit/vit-audiIn.png" alt="" class="rounded shadow-lg" style="width: 37%; height: 30%; float: right;"></span> -->
            <p style="width: 100%; line-height: 28px;">
              <span style="font-size: 20px !important" data-aos="fade-up">
                Inspired by the philosophy of “Student Delight”, every year VIT welcomes and nurtures around 800
                engineering and management talents at the undergraduate, postgraduate and doctorate levels and
                makes them industry-ready. The institute is housed in a futuristic self-contained campus which
                incorporates nature's free services and greenhouse principles to create a high quality educational
                ambience which is conducive to inspired learning.
            </span>
            </p>
            <p>
              <a href="#" onclick="window.open('http://vit.edu.in/', '_blank')" class="btn btn-primary btn-lg shadow rounded" style="margin-top: 4%" data-aos="fade-up">Visit VIT website</a>
            </p>
            <p>
              <h5 style="opacity: 0">HI</h5>
            </p>
        </p>
      </div>
    </div>
  </div>

  <!-- ////////////////////////////Who Are We?///////////////////////// -->
  <div class="jumbotron" id="partialAbout-2" style=" color: white; background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07)); margin-bottom: 3% !important; border-width: 20px !important; text-align: justify">
    <div class="container-fluid" style="width: 85%">
      <h4 class="display-4" data-aos="fade-up">Who Are We?</h4>
      <hr style="width: 10%; border-color: rgba(255, 255, 255, 0.6); margin-left:0px;" data-aos="fade-up">
      <img src="/images/logo/ACM_Logo-edit.png" alt="" class="rounded shadow-lg img-thumbnail" style="width: 15%; height: 15%; float: right; margin-left: 3%; margin-top: 5%" data-aos="fade-up">
      <img src="/images/logo/acm-logo-noText.png" alt="" class="rounded shadow-lg img-thumbnail" style="width: 15%; height: 15% !important; float: right; margin-top: 5%" data-aos="fade-up">
      <p style="margin-top: 20px; line-height: 28px; margin-bottom: 4%">
        <h2 data-aos="fade-up">Overview</h2>
          <p style="width: 60%; line-height: 28px; margin-bottom: 5%">
            <span style="font-size: 20px !important" data-aos="fade-up">
              ACM brings together computing educators, researchers, and professionals to inspire dialogue, share
              resources, and address the field's challenges. As the world’s largest computing society, ACM
              strengthens the profession's collective voice through strong leadership, promotion of the highest
              standards, and recognition of technical excellence. ACM supports the professional growth of its
              members by providing opportunities for lifelong learning, career development, and professional
              networking.
            </span>
          </p>
          <h2 data-aos="fade-up">Goal</h2>
          <p style="width: 60%; line-height: 28px;">
            <span style="font-size: 20px !important" data-aos="fade-up">
              ACM Committee conducts various Technical activities such as Conferences, Workshops, Seminars,
              Expert talks. ACM arranges sessions/workshops on the emerging technology trends like Database,
              Big Data, Cloud Computing, Web Development, Ethical Hacking, etc. In future, ACM Plans to
              conduct various events in association with various Developers communities like Geekabyte, Google
              Developer Group, Mumbai Coders, etc.
          </span>
          </p>
      </p>
    </div>
  </div>

  <!-- ////////////////////////////Aims, testimonials, etc///////////////////////// -->
  <div class="jumbotron" id="partialAbout-3" style=" color: white; background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07)); margin-bottom: 0% !important; border-width: 20px !important; text-align: justify">
    <div class="container-fluid" style="width: 85%">
      <h4 class="display-4" data-aos="fade-up">What we belive in</h4>
      <hr style="width: 10%; border-color: rgba(255, 255, 255, 0.6); margin-left:0px;" data-aos="fade-up">
      <p style="margin-top: 20px; line-height: 28px; margin-bottom: 4%">
        <div class="card-deck">
          <div class="card shadow-lg rounded" style="background-color: rgba(0, 0, 0, 0.3)" data-aos="fade-up">
            <div class="card-body">
              <h3 class="card-title" style="text-align: center">Technology for Everyone</h3>
              <hr style="border-color: white; width: 90%">
              <p class="card-text" style="font-size: 20px; margin-top: 5%; line-height: 40px; margin-top: 17% ; font-family: 'Gloria Hallelujah', cursive !important; color: rgb(210, 210, 210)"><span style="font-size: 25px">"</span> Making computer science more accessible to all, regardless of their field of study. <span style="font-size: 25px">"</span></p>
            </div>
            <div class="card-footer">
              <small class="text-muted"> <h6 style="text-align: right">-  ACM VIT Team</h6> </small>
            </div>
          </div>
          <div class="card shadow-lg rounded" style="background-color: rgba(0, 0, 0, 0.3)" data-aos="fade-up">
            <div class="card-body">
              <h3 class="card-title" style="text-align: center">Community of Computing</h3>
              <hr style="border-color: white; width: 90%">
              <p class="card-text" style="font-size: 20px; margin-top: 5%; line-height: 40px; margin-top: 17%; font-family: 'Gloria Hallelujah', cursive !important; color: rgb(210, 210, 210)"><span style="font-size: 25px">"</span> Creating a platform for people with a passion for computing to meet other enthusiasts. <span style="font-size: 25px">"</span></p>
            </div>
            <div class="card-footer">
              <small class="text-muted"> <h6 style="text-align: right">-  ACM VIT Team</h6> </small>
            </div>
          </div>
          <div class="card shadow-lg rounded" style="background-color: rgba(0, 0, 0, 0.3)" data-aos="fade-up">
            <div class="card-body">
              <h3 class="card-title" style="text-align: center">Technology for Everyone</h3>
              <hr style="border-color: white; width: 90%">
              <p class="card-text" style="font-size: 20px; margin-top: 5%; line-height: 40px; margin-top: 8%; font-family: 'Gloria Hallelujah', cursive !important; color: rgb(210, 210, 210)"><span style="font-size: 25px">
                "</span>
                    We are geeks, but that doesn't make us any less normal :) 
                    <p style="font-size: 20px; margin-top: 5%; line-height: 40px; font-family: 'Gloria Hallelujah', cursive !important; color: rgb(210, 210, 210); margin-top: 0px; top: 0px;">
                      We believe in partying, and in the famous ' ACM lunches ' .
                      <span style="font-size: 25px">"</span>
                    </p>
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted"> <h6 style="text-align: right">- ACM VIT Team</h6> </small>
            </div>
          </div>
        </div>
        <p style="margin-top: 6%">
          <a href="/events" class="btn btn-primary btn-lg shadow rounded" data-aos="fade-up">Learn more about what we do</a>
        </p>
      </p>
    </div>
  </div>

  <!-- ////////////////////Import JS File/////////////////////////// -->
  <script type="text/javascript" src="/js_scripts/aboutUs.js"></script>

  <!--************** Include Footer Partials ***************-->
  <% include /app/views/partials/footer.ejs %>
