<!--
    Official Website of ACM Student Chapter of Vidyalankar Institute of Technology
    Copyright (C) 2018  VEDANT NANDOSKAR

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    Contact: vedant.nandoskar@gmail.com
    Source Code: https://github.com/Vedant1202/ACM-VIT
 -->



<!-- ===================================================================== -->
                            <!-- Events Page -->
<!-- ===================================================================== -->

  <!--************** Include Header Partials ***************-->
  <% include /app/views/partials/header.ejs %>

<!-- ////////////////////////////////////////////////// MODAL FOR FEEDBACK OF WEB-DEVELOPMENT ////////////////////////////////////////////////////////////// -->

  <div id="myModal" class="modal shadow-lg rounded" style="background-size: cover !important; background-attachment: fixed; z-index: 100 !important;">
    <span id="close-cursor" class="close cursor" onclick="closeModal()" style="margin-top: 7%; position: fixed; margin-right: 4%">&times;</span>
    <div class="modal-content">
      <div class="mySlides">
        <div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.4); color: white;">
          <div class="container">
            <div class="gallery-wrap rounded shadow-lg">
              <div class="item item-1"></div>
              <div class="item item-2"></div>
              <div class="item item-3"></div>
              <div class="item item-4"></div>
              <div class="item item-5"></div>
            </div>
          </div>
          <p>
              <h4 class="display-4" style="text-align: center">Feedback by participants</h4>
          </p>
          <svg class="chart"></svg>
          <p style="margin-top: 10%;">
            <div class="row" style="width: 95%; margin-left: 4%;">
              <div class="col-lg-9">
                <div class="jumbotron rounded shadow-lg border" style="border-color: white; background-color: rgba(50, 50, 50, 0.6); border-width: 2px; width: 90%; text-align: center !important; padding: 1.5% !important;">
                  <h5 style="color: white;">Comments by the participants.</h5>
                  <hr style="width: 80%; border-color: white; opacity: 0.6">
                  <div class="simple-ticker" id="js-ticker-roll">
                    <ul class="comments-caro" style="height: 100px; width: 100%; color: white !important">
                      <li class="comments-caro-elem">
                        <h6>"We really enjoyed the session..we would like to attend machine learning and of course other IT fields too if in future conducted by ACM. Thank u for such great opportunity."</h6>
                        <span style="float: right; font-size: 1.15em;"></span>
                      </li>
                      <li class="comments-caro-elem">
                        <h6>"It was a great experience to learn the Web pages languages. In future there should be a workshop on python and machine learning."</h6>
                        <span style="float: right; font-size: 1.15em;"></span>
                      </li>
                      <li class="comments-caro-elem">
                        <h6>"Keep it up!!!"</h6>
                        <span style="float: right; font-size: 1.15em;"></span>
                      </li>
                      <li class="comments-caro-elem">
                        <h6>"Can you take workshop on App development?"</h6>
                        <span style="float: right; font-size: 1.15em;"></span>
                      </li>
                      <li class="comments-caro-elem">
                        <h6>"Keep a workshop on hadoop or big data."</h6>
                        <span style="float: right; font-size: 1.15em;"></span>
                      </li>
                      <li class="comments-caro-elem">
                        <h6>"HTML, CSS, JAVASCRIPT very important for final year projects. Thank you!"</h6>
                        <span style="float: right; font-size: 1.15em;"></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3" style=" color: white !important">
                <div class="container rounded shadow-lg border" style="border-color: white; background-color: rgba(50, 50, 50, 0.6); border-width: 2px; padding: 20px;">
                  <svg width="200px" height="200px" viewBox="0 0 100 100" style="color: white !important">
                    <circle cx="50" cy="50" r="40"  style="color: white !important">
                    </circle>
                    <text x="50%" y="50%" text-anchor="middle" style="color: white !important"> <tspan style="color: white !important; fill: white !important">82%</tspan> </text>
                  </svg>
                  <p>
                    <h6>People who voted to attend following events by ACM</h6>
                  </p>
                </div>
              </div>
            </div>
          </p>
        </div>
      </div>
  </div>
</div>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- =========================================================================================================================================================================================================== -->
                                                                                    <!-- PAGE STARTS FROM HERE -->
<!-- ============================================================================================================================================================================================================ -->


  <!-- /////////////////////////////////////////////// Navbar //////////////////////////////////////////////-->

  <nav class="nav navbar navbar-expand-lg navbar-dark sticky-top" style="margin-top: 0px; background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.03)); padding: 0 !important;">
    <a class="navbar-brand" href="/" style="margin-right: 0%; margin-left: 12%; width: 12%; margin-top: 0px !important; margin-bottom: 0px !important;">
      <img src="/images/logo/ACM_Logo-edit.png" class="border img-thumbnail" style="height: 55px; width: 120px; margin-top: 0px !important; margin-bottom: 0px !important;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/" style=" margin-left: 16%;"><span style="font-size: 1.7em !important; background-color: rgba(0, 0, 0, 0)!important">Home</span></a>
      <a class="nav-item nav-link" href="/aboutUs" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">About</span></a>
      <a class="nav-item nav-link team" href="/#team" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">Team</span></a>
      <a class="nav-item nav-link active" href="/events" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">Events</span></a>
      <a class="nav-item nav-link" href="/blogs" style="margin-left: 12%;"><span style="font-size: 1.7em !important">Blog</span></a>
      <li class="nav-item dropdown" style="margin-left: 12%">
        <a class="nav-link dropdown-toggle" href="/contactUs" id="contactDropdown" data-toggle="dropdown" aria-expanded="false"><span style="font-size: 1.7em !important">Contact</span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/contactUs#query">Have a Query?</a>
          <a class="dropdown-item" href="/contactUs#locate">Locate us</a>
          <a class="dropdown-item" href="/contactUs#socialMedia">Social Media</a>
        </div>
      </li>
    </div>
    <a class="navbar-brand" href="#" onclick="window.open('https://www.acm.org/', '_blank')" style="float: right; margin-left: 35%">
      <img class="float-right" src="/images/logo/acm.png" style="height: 55px; width: 160px;">
    </a>
    </div>
  </nav>

  <!--////////////////////////////////////////////// Navbar Ends ///////////////////////////////////////////-->

  <link rel="stylesheet" href="/stylesheets/events.css">
  <link rel="stylesheet" href="/stylesheets/imagehover.css">


  <!-- ////////////////////////////Email Us?///////////////////////// -->
  <div class="jumbotron" id="partialEvents-1" style=" color: white; background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07)); margin-bottom: 3% !important; margin-top: 0.5%; border-width: 20px !important; text-align: justify">
    <div class="container-fluid" style="width: 85%">
      <h4 class="display-4" data-aos="fade-up">Events</h4>
      <hr style="width: 5%; border-color: rgba(255, 255, 255, 0.6); margin-left: 1%;" data-aos="fade-up">
      <p data-aos="fade-up" style="line-height: 90px; margin-top: 2%;">
        <h4 style="margin-left: 1%; line-height: 40px; margin-bottom: 8%" data-aos="fade-up">
          Take a look at our previous events as well as register for our upcoming events. The events are full of fun and promise enthusiastic learning approaches.
          These events are conducted by qualified professionals with rich experience in their domains and thus ensure a holistic and enriching experience.
        </h4>
      </p>
      <h4 class="display-4" data-aos="fade-up">Upcoming Events</h4>
      <hr style="width: 5%; border-color: rgba(255, 255, 255, 0.6); margin-left: 1%; margin-bottom: 4%" data-aos="fade-up">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-aos="fade-in" style="width: 100%; margin-left: 0%">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="height: 60em;">
          <div class="carousel-item active" data-aos="fade-up" style="height: 60em;">
            <figure class="imghvr-blur" style="margin-left: 1.5%;">
              <img class="d-block w-100" src="/images/upcoming-events/bootstrap.png" alt="Second slide" style="width: 150em !important; height: 60em">
            <figcaption>
              <div class="container">
                <a href="#" onclick="window.open('https://goo.gl/forms/SW7hp07oRy5gZbc43', '_blank')"><button type="button" class="btn btn-primary btn-lg shadow-lg" style="position: absolute; left: 45%; top: 50%;">Register</button></a>
              </div>
              </figcaption>
            </figure>
          </div>
          <div class="carousel-item" data-aos="fade-up">
            <figure class="imghvr-blur" style="margin-left: 1.5">
              <img class="d-block w-100" src="https://i.amz.mshcdn.com/Hmaq6dTgHIQjiESybHe1MsLBW9I=/fit-in/1440x0/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F319939%2F8fd805d4-b429-4268-884a-f49298a676a2.jpg" alt="First slide" style="width: 100%; height: 60em">
              <figcaption>
                <div class="container">
                  <a href="#"><button type="button" class="btn btn-primary btn-lg shadow-lg" style="position: absolute; left: 45%; top: 50%;">Register</button></a>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="carousel-item" data-aos="fade-up">
            <figure class="imghvr-blur" style="margin-left: 1.5%" >
              <img class="d-block w-100" src="https://static.adweek.com/adweek.com-prod/wp-content/uploads/2018/08/landing-a-job-in-ad-tech1.jpg" alt="Third slide" style="width: 100%; height: 60em">
              <figcaption>
                <div class="container">
                  <a href="#"><button type="button" class="btn btn-primary btn-lg shadow-lg" style="position: absolute; left: 45%; top: 50%;">Register</button></a>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- ///////////// Down Arrow //////////////////////////// -->
    <div class="arrow bounce" style=" padding-top: 2%;">
      <button class="fa fa-angle-double-down fa-4x btn btn-dark scrolldown-prevEvents" style="background-color: rgba(0, 0, 0, 0.1); border-width: 0"></button>
    </div>
  </div>

  <!-- /////////////////////////////////////// Prvious Events ///////////////////////////////// -->
  <div class="jumbotron" id="partialEvents-2" style=" color: white; background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07)); margin-bottom: 0% !important; margin-top: 0%; border-width: 20px !important; text-align: justify">
    <div class="container-fluid" style="width: 85%">
      <h4 class="display-4" data-aos="fade-up">Previous Events</h4>
      <hr style="width: 12%; border-color: rgba(255, 255, 255, 0.6); margin-left: 1%;" data-aos="fade-up">
      <p data-aos="fade-up" style="line-height: 90px; margin-top: 1%;">
        <h4 style="margin-left: 1%; line-height: 40px; margin-bottom: 8%" data-aos="fade-up">
          These are the events that were hughly succesful and we had a great response and feedback to these events.
          This gives us the drive to fulfill our promise of organising such events regularly and instill a sense of exposure and overall development in the minds of those who attend.
        </h4>
      </p>
      <!-- <div class="jumbotron shadow-lg rounded" style="background-color: rgba(0, 0, 0, 0.3);" data-aos="fade-up"> -->
            <!-- Carousel -->
            <main role="main">

            <div class="contmin">
              <div id="myCarousel" class="carousel slide" data-ride="carousel" style=" color: white" data-interval="5000" data-aos="fade-up">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                  <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item carousel-item-pre active">
                    <img class="d-block w-100" src="/images/previous-events/web-dev/webOne.png" alt="Post Picture">
                    <div class="container">
                      <div class="carousel-caption text-left" style="margin-bottom: 4%;">
                        <h1>Web Development Workshop</h1>
                        <p class="text-truncate"> <h6 style="margin-bottom: 0px;">A web development hands-on workshop was conducted where the participants were trained how to handle front end as well as a backend server and thus create their own website.</h6> </p>
                        <p>
                          <button class="btn btn-info btn-lg" onclick="openModal();currentSlide(1)" style="margin-bottom: 1%; padding-bottom: 1%;">View Feedback</button>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-pre">
                    <img class="d-block w-100" src="/images/previous-events/database/dbOne.png" alt="Post Picture">
                    <div class="container">
                      <div class="carousel-caption text-left" style="margin-bottom: 4%;">
                        <h1>Seminar on Database Management Technologies</h1>
                        <p class="text-truncate"> <h6>A seminar was conducted on database management technologies and the lastest technologies gaining momentum in this field.</h6> </p>
                        <!-- <p><a class="btn btn-xs btn-info btn-lg" href="#" role="button">Another Category</a></p> -->
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-pre">
                    <img class="d-block w-100" src="/images/previous-events/paradigm/paradigmOne.png" alt="Post Picture">
                    <div class="container">
                      <div class="carousel-caption text-left" style="margin-bottom: 4%;">
                      <h1>National seminar on paradigm shifts in Computer Programming</h1>
                        <p class="text-truncate"> <h6>In this event, experts from the whole nation came together and discussed on the paradigm shifts in computer programming and how it will affect the future of computers.</h6> </p>
                        <!-- <p><a class="btn btn-xs btn-info btn-lg" href="#" role="button">Diff Cat</a></p> -->
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-pre">
                    <img class="d-block w-100" src="/images/previous-events/c-prog/cOne.png" alt="Post Picture">
                    <div class="container">
                      <div class="carousel-caption text-left" style="margin-bottom: 4%;">
                        <h1>Programming in C using IDE</h1>
                        <p class="text-truncate"> <h6>An hands-on session was conducted on how to program in an IDE like Visual Studio as an IDE is the industry standard for programming.</h6> </p>
                        <!-- <p><a class="btn btn-xs btn-info btn-lg" href="#" role="button">Hopefully Last</a></p> -->
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-pre">
                    <img class="d-block w-100" src="/images/previous-events/paper-write/paperOne.png" alt="">
                    <div class="container">
                      <div class="carousel-caption text-left" style="margin-bottom: 4%;">
                        <h1>Seminar on Paper Writing</h1>
                        <p class="text-truncate"> <h6>A seminar was conducted on how to write and publish technical papers and how to make the most out of them was explained.</h6> </p>
                        <!-- <p><a class="btn btn-xs btn-info btn-lg" href="#" role="button">Last Cat</a></p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <!-- Carousel ends here -->
      <!-- </div> -->
    </div>
  </div>



  <!-- ////////////////////Import JS File/////////////////////////// -->
  <script type="text/javascript" src="/js_scripts/events.js"></script>

  <!--************** Include Footer Partials ***************-->
  <% include /app/views/partials/footer.ejs %>
