<!-- ===================================================================== -->
                            <!-- Landing Page -->
<!-- ===================================================================== -->

  <!--************** Include Header Partials ***************-->
  <% include /app/views/partials/header.ejs %>

  <!-- /////////////////////////////////////////////// Navbar //////////////////////////////////////////////-->

  <nav class="nav navbar navbar-expand-lg navbar-dark sticky-top" style="margin-top: 0px; background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.03)); padding: 0 !important;">
    <a class="navbar-brand" href="/" style="margin-right: 0%; margin-left: 10%; width: 12%; margin-top: 0px !important; margin-bottom: 0px !important;">
      <img src="/images/logo/ACM_Logo-edit.png" class="border img-thumbnail" style="height: 30%; width:30%; margin-top: 0px !important; margin-bottom: 0px !important;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/" style=" margin-left: 14%;"><span style="font-size: 1.7em !important; background-color: rgba(0, 0, 0, 0)!important">Home</span></a>
      <a class="nav-item nav-link" href="/aboutUs" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">About</span></a>
      <a class="nav-item nav-link team" href="/#team" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">Team</span></a>
      <a class="nav-item nav-link" href="/events" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">Events</span></a>
      <a class="nav-item nav-link" href="/blogs" style="margin-left: 12%;"><span style="font-size: 1.7em !important">Blog</span></a>
      <li class="nav-item dropdown" style="margin-left: 12%">
        <a class="nav-link dropdown-toggle" href="/contactUs" id="contactDropdown" data-toggle="dropdown" aria-expanded="false"><span style="font-size: 1.7em !important">Contact</span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/contactUs#query">Have a Query?</a>
          <a class="dropdown-item" href="/contactUs#locate">Locate us</a>
          <a class="dropdown-item" href="/contactUs#socialMedia">Social Media</a>
        </div>
      </li>
    </div>
    <a class="navbar-brand" href="#" onclick="window.open('https://www.acm.org/', '_blank')" style="float: right; margin-left: 12%">
      <img class="float-right" src="/images/logo/acm.png" style="height: 37%; width:37%;">
    </a>
    </div>
  </nav>

  <!--////////////////////////////////////////////// Navbar Ends ///////////////////////////////////////////-->


  <!-- ========================================================= Stylesheet Import ================================================================================= -->
    <link rel="stylesheet" href="/stylesheets/imagehoverMembers.css">



<!-- ////////////////////////////////////////////////////////////////////////// Typewriter effect ////////////////////////////////////////////////////////////////////////-->

  <div class="container" style="width: 90%; color: white; border-color: white; margin-top: 16%; text-align: center" >
    <h1 class="element" style="z-index: 10 !important; display: inline">
      <!-- Supposed to be left blank.... DO NOT TOUCH -->
    </h1>
  </div>
<!-- ///////////// Down Arrow //////////////////////////// -->
<div class="arrow bounce" style=" padding-top: 8%; margin-bottom: 2%">
  <button class="fa fa-angle-double-down fa-4x btn btn-dark" disabled style="background-color: rgba(0, 0, 0, 0.1); border-width: 0"></button>
</div>

<!-- //////////////////////////////////////////////////////////////////////  About Us Div ////////////////////////////////////////////////////////////////////////////////-->

  <div class="jumbotron" id="partialHome-1" style=" color: white; background-color: rgba(0, 0, 0, 0.1); margin-bottom: 3% !important; margin-top: 0%; text-align: justify;">
    <div class="container-fluid" style="width: 85%">
      <h4 class="display-4" data-aos="fade-up">About ACM</h4>
      <hr style="width: 10%; border-color: rgba(255, 255, 255, 0.6); margin-left:0px;" data-aos="fade-up">
      <p style="width: 60%; margin-top: 20px; line-height: 32px;">
        <span style="font-size: 20px !important" data-aos="fade-up">
          ACM brings together computing educators, researchers, and professionals to inspire dialogue, share resources, and address the field's challenges.
          As the world’s largest computing society, ACM strengthens the profession's collective voice through strong leadership, promotion of the highest standards, and recognition of technical excellence.
          ACM supports the professional growth of its members by providing opportunities for life‐long learning, career development, and professional networking.
        </span>
      </p>
      <p style="width: 60%; margin-top: 20px; line-height: 32px;">
        <span  style="font-size: 20px !important" data-aos="fade-up">
          We at ACM-VIT strive to work together towards these goals keeping in mind the principles on which ACM was founded.
        </span>
      </p>
    </div>
  </div>


<!-- ////////////////////////////////////////////////////////////////////// Landing Carousel Page ///////////////////////////////////////////////////////////////////////////// -->
  <div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.1); margin-bottom: 3%">
    <div class="container-fluid" style="width: 85%">
      <p>
        <h1 class="display-4" style="color: white; margin-left: 5%; padding-top: 20px;" data-aos="fade-up">Highlights</h1>
        <hr style="border-color: white; width: 10%; float: left; margin-left: 5%; margin-top: 0.5%" data-aos="fade-up">
      </p>
      <p>
        <h3 style="color: white; float: left; margin-left: 5%; margin-bottom: 5%; margin-top: 0.5%" data-aos="fade-up">See the highlights of some of our most amazing events in the past year. <i> Excited yet?</i> </h3>
      </p>
      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-interval='3000' data-ride="carousel"style="width: 75% !important; padding-bottom: 20px; padding-top: 0%; margin-top: 0%; margin-left: 13%" data-aos="fade-up">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
          <li data-target="#carouselExampleSlidesOnly" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active rounded shadow-lg">
            <img class="d-block w-100" src="/images/previous-events/c-prog/cOne.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="rounded shadow border" style="background-color: rgba(0, 0, 0, 0.8); border-color: white">
                  <h3>Seminar on C Programming in IDE.</h3>
                  <hr style="border-color: white; width: 95%">
                  <p style="text-align: justify;">
                    <h6>The seminar was conducted to meet the industrial standards of programming in C using IDE as C is prime language of use in the gaming and system configurations industry.</h6>
                  </p>
              </div>
            </div>
          </div>
          <div class="carousel-item rounded shadow-lg">
            <img class="d-block w-100" src="/images/previous-events/database/dbOne.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="rounded shadow border" style="background-color: rgba(0, 0, 0, 0.8); border-color: white">
                  <h3>Seminar on emerging database technologies.</h3>
                  <hr style="border-color: white; width: 95%">
                  <p style="text-align: justify;">
                    <h6>We introduced the audience to the emerging technologies in database management like Cloud computing, Big data analysis and much more.</h6>
                  </p>
              </div>
            </div>
          </div>
          <div class="carousel-item rounded shadow-lg">
            <img class="d-block w-100" src="/images/previous-events/paradigm/paradigmOne.png" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="rounded shadow border" style="background-color: rgba(0, 0, 0, 0.8); border-color: white">
                  <h3>Seminar on Paradigm shifts in Computer Programming.</h3>
                  <hr style="border-color: white; width: 95%">
                  <p style="text-align: justify;">
                    <h6>An expert talk was organised with a panel of industry leaders to discuss about the recent paradigm shifts in programming practice and their advantages.</h6>
                  </p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <!-- ////////////////////////////////////////////////////////////////////////////// TEAM ////////////////////////////////////////////////////////////////////////////// -->


    <div class="jumbotron" id="team" style=" color: white; background-color: rgba(0, 0, 0, 0.1); margin-bottom: 0% !important; margin-top: 0; border-width: 20px !important; text-align: justify" data-aos="fade-up">
      <div class="container-fluid" style="width: 85%" data-aos="fade-up">
        <h4 class="display-4" data-aos="fade-up">The Team</h4>
        <hr style="width: 10%; border-color: rgba(255, 255, 255, 0.6); margin-left:0px;" data-aos="fade-up">
        <p style=" margin-top: 20px; line-height: 28px; margin-bottom: 60px;" data-aos="fade-up">
          <span style="font-size: 24px !important" data-aos="fade-up">
            Meet the team of ACM-VIT which never fails to bring the hottest brewing technologies to your table!
          </span>
        </p>
        <p>
          <!-- //////////////////////////////////////////////////////// Team members ///////////////////////////////////////////////// -->

        <!-- <div class="jumbotron rounded" style="background-color: rgba(0, 0, 0, 0.2)"> -->
          <div class="row" align="center" style="margin-top: 3%" data-aos="fade-up">
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/sandeshaCircle.png" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 style="margin-top: 20%">Sandesh Arote</h2>
                     <h6>Research & Development Head</h6>
                     <!-- <a class="info" href="#team" onclick="window.open('', '_blank')"> <img src="/images/share-icons/linkedin-color.png" alt="" style="width: 30%; height: 30%; margin-left: 2%"> </a> -->
                  </div>
              </div>
            </div>
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/shubhamaCircle.jpg" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 style="margin-top: 20%">Shubham Ambavane</h2>
                     <h6>Research & Development Head</h6>
                     <!-- <a class="info" href="#team" onclick="window.open('', '_blank')"> <img src="/images/share-icons/linkedin-color.png" alt="" style="width: 30%; height: 30%; margin-left: 2%"> </a> -->
                  </div>
              </div>
            </div>
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/vedantnCircle.jpg" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 class="blurHover" style="margin-top: 20%">Vedant Nandoskar</h2>
                     <h6 class="blurHover">Webmaster</h6>
                     <a class="info" href="#" onclick="window.open('https://github.com/Vedant1202', '_blank')"> <img src="/images/share-icons/github.png" alt="" style="width: 22%; height: 22%; margin-left: 5%"> </a>
                     <a class="info" href="#team" onclick="window.open('https://www.linkedin.com/in/vedant-nandoskar-692824169/', '_blank')"> <img src="/images/share-icons/linkedin-color.png" alt="" style="width: 30%; height: 30%; margin-left: 0%"></a>
                  </div>
              </div>
            </div>
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/saloniaCircle.png" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 class="blurHover" style="margin-top: 20%">Saloni Apte</h2>
                     <h6 class="blurHover">Publicity Head</h6>
                     <!-- <a class="info" href="#">link here</a> -->
                  </div>
              </div>
            </div>
          <div class="col" style="width: 15%">
            <div class="hovereffect rounded-circle">
              <img class="rounded-circle profImg" src="/images/core-mem/tanvisCircle.jpg" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
              <div class="overlay rounded-circle">
                <h2 class="blurHover" style="margin-top: 20%">Tanvi Sayyed</h2>
                <h6 class="blurHover">Co-Publicity Head</h6>
                <!-- <a class="info" href="#">link here</a> -->
              </div>
            </div>
          </div>
        </div>
          <div class="row" align="center" style="margin-top: 3%" data-aos="fade-up">
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/anujyCircle.png" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 style="margin-top: 20%">Anuj Yadav</h2>
                     <h6>Events Head</h6>
                     <a class="info" href="#team" onclick="window.open('https://www.linkedin.com/in/anuj-yadav-38ab79139/', '_blank')"> <img src="/images/share-icons/linkedin-color.png" alt="" style="width: 30%; height: 30%; margin-left: 2%"> </a>
                  </div>
              </div>
            </div>
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/pravinkCircle.png" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 class="blurHover" style="margin-top: 20%">Pravin Kharat</h2>
                     <h6 class="blurHover">Chairperson</h6>
                     <a class="info" href="#team" onclick="window.open('https://in.linkedin.com/in/pravin-kharat-237736156', '_blank')"> <img src="/images/share-icons/linkedin-color.png" alt="" style="width: 30%; height: 30%; margin-left: 2%"> </a>
                  </div>
              </div>
            </div>
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/bhanutCircle.png" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 class="blurHover" style="margin-top: 20%">Bhanu Tekwani</h2>
                     <h6 class="blurHover">Convenor</h6>
                     <!-- <a class="info" href="#"></a> -->
                  </div>
              </div>
            </div>
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/ruchawCircle.png" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 class="blurHover" style="margin-top: 20%">Rucha Walke</h2>
                     <h6 class="blurHover">Co-Chairperson</h6>
                     <!-- <a class="info" href="#">link here</a> -->
                  </div>
              </div>
            </div>
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/sanyansCircle.png" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 class="blurHover" style="margin-top: 20%">Sanyam Sharma</h2>
                     <h6 class="blurHover">General Secretary</h6>
                     <!-- <a class="info" href="#">link here</a> -->
                  </div>
              </div>
            </div>
          </div>
          <div class="row" align="center" style="margin-top: 3%" data-aos="fade-up">
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/shravankCircle.png" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 class="blurHover" style="margin-top: 20%">Shravan Kegade</h2>
                     <h6 class="blurHover">Photography Head</h6>
                     <!-- <a class="info" href="#">link here</a> -->
                  </div>
              </div>
            </div>
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/tanaysCircle.png" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 class="blurHover" style="margin-top: 20%">Tanay Shah</h2>
                     <h6 class="blurHover">Documentation Head</h6>
                     <a class="info" href="#team" onclick="window.open('https://www.linkedin.com/in/tanay-shah-95235314b/', '_blank')"> <img src="/images/share-icons/linkedin-color.png" alt="" style="width: 30%; height: 30%; margin-left: 0%"> </a>
                  </div>
              </div>
            </div>
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/surajkCircle.jpg" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 class="blurHover" style="margin-top: 20%">Suraj Kewat</h2>
                     <h6 class="blurHover">Photography Head</h6>
                     <!-- <a class="info" href="#">link here</a> -->
                  </div>
              </div>
            </div>
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/rohankCircle.png" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 class="blurHover" style="margin-top: 20%">Rohan Kokkula</h2>
                     <h6 class="blurHover">Photography Head</h6>
                     <a class="info" href="#" onclick="window.open('https://github.com/rohan0301', '_blank')"> <img src="/images/share-icons/github.png" alt="" style="width: 22%; height: 22%; margin-left: 5%"> </a>
                     <a class="info" href="#team" onclick="window.open('https://www.linkedin.com/in/rohan-kokkula-0a8b72137/', '_blank')"> <img src="/images/share-icons/linkedin-color.png" alt="" style="width: 30%; height: 30%; margin-left: 0%"></a>
                  </div>
              </div>
            </div>
            <div class="col" style="width: 15%">
              <div class="hovereffect rounded-circle">
                <img class="rounded-circle profImg" src="/images/core-mem/umraansCircle.png" alt="" style="width: 100%; height: 100%; border-width: 0px;" data-aos="fade-up">
                  <div class="overlay rounded-circle">
                     <h2 class="blurHover" style="margin-top: 20%">Umraan Shaikh</h2>
                     <h6 class="blurHover">Treasurer</h6>
                     <!-- <a class="info" href="#">link here</a> -->
                  </div>
              </div>
            </div>
          </div>
        <!-- </div> -->

        </p>
      </div>
    </div>
  <!-- </div>  -->
   <!-- DANGER !!!! DO NOT TAMPER WITH THIS LINE-->

    <script type="text/javascript">

        ////////////////////////// Typed.js Initialisation //////////////////////////

        var typed = new Typed(".element", {
          strings: ['', 'The Official Website of ACM student chapter of Vidyalankar Institute of Technology', 'A place where knowledge sharing is the norm', 'A place where everyone walks together, learns together'],
          typeSpeed: 60,
          backSpeed: 45,
          // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
          stringsElement: null,
          smartBackspace: true, // Default value
          backDelay: 3000,
          loop: true,
          loopCount: Infinity,
          // startDelay: 100,
        });
        ///////////////////////////// Typed.js Ends //////////////////////////////////

        //////////////////////////////// Handle Responsiveness for circle team member hover effect /////////////////////////////////

            if (('ontouchstart' in window) ||     // Advanced test for touch events
            (window.DocumentTouch && document instanceof DocumentTouch) ||
            ((hash['touch'] && hash['touch'].offsetTop) === 9)) {

              $(".overlay").hover(function() {
                $(".overlay").removeClass("scaled");
                $(this).addClass("scaled");
              });
            };

      /////////////////////////////////////// Hover ends /////////////////////////////////////////////

    </script>


  <!--************** Include Footer Partials ***************-->
  <% include /app/views/partials/footer.ejs %>
