<!--
    Official Website of ACM Student Chapter of Vidyalankar Institute of Technology
    Copyright (C) 2018  VEDANT NANDOSKAR

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    Contact: vedant.nandoskar@gmail.com
    Source Code: https://github.com/Vedant1202/ACM-VIT
 -->



  <!--************** Include Header Partials ***************-->
  <% include /app/views/partials/header.ejs %>


    <!-- /////////////////////////////////////////////// Navbar //////////////////////////////////////////////-->

    <nav class="nav navbar navbar-expand-lg navbar-dark sticky-top" style="margin-top: 0px; background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.03)); padding: 0 !important;">
      <a class="navbar-brand" href="/" style="margin-right: 0%; margin-left: 12%; width: 12%; margin-top: 0px !important; margin-bottom: 0px !important;">
        <img src="/images/logo/ACM_Logo-edit.png" class="border img-thumbnail" style="height: 55px; width: 120px; margin-top: 0px !important; margin-bottom: 0px !important;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/" style=" margin-left: 14%;"><span style="font-size: 1.7em !important; background-color: rgba(0, 0, 0, 0)!important">Home</span></a>
        <a class="nav-item nav-link" href="/aboutUs" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">About</span></a>
        <a class="nav-item nav-link team" href="/#team" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">Team</span></a>
        <a class="nav-item nav-link" href="/events" style=" margin-left: 12%;"><span style="font-size: 1.7em !important">Events</span></a>
        <a class="nav-item nav-link" href="/blogs" style="margin-left: 12%;"><span style="font-size: 1.7em !important">Blog</span></a>
        <li class="nav-item dropdown" style="margin-left: 12%">
          <a class="nav-link dropdown-toggle" href="/contactUs" id="contactDropdown" data-toggle="dropdown" aria-expanded="false"><span style="font-size: 1.7em !important">Contact</span></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/contactUs#query">Have a Query?</a>
            <a class="dropdown-item" href="/contactUs#locate">Locate us</a>
            <a class="dropdown-item" href="/contactUs#socialMedia">Social Media</a>
          </div>
        </li>
      </div>
      <a class="navbar-brand" href="#" onclick="window.open('https://www.acm.org/', '_blank')" style="float: right; margin-left: 35%">
        <img class="float-right" src="/images/logo/acm.png" style="height: 55px; width: 160px;">
      </a>
      </div>
    </nav>

    <!--////////////////////////////////////////////// Navbar Ends ///////////////////////////////////////////-->


    <div class="container">
      <div class="jumbotron" style="margin-top: 10%">
        <h3 class="display-4">Admin Sign In</h3>
        <hr>
        <form action="/signinAdmin" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input required type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input required type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

  <!--************** Include Footer Partials ***************-->
  <% include /app/views/partials/footer.ejs %>
